<h2>
    <%= @user.name %>s Playlist
</h2>


<% @playlist.each do |song| %>
    <p>
        <%= song.artist %>
        <%= song.title %>
        <%= song.addcounts.map{|e| e.count}.reduce(0, :+).to_s %>
    </p>
<% end %>
