<h2>
    <%= @user.name %>s Playlist
</h2>

<table>
    <th>
        <tr>
            <td>
                artist
            </td>
            <td>
                title
            </td>
            <td>
                times added
            </td>
        </tr>
    </th>
    <% @user.songlikes.each do |like| %>
        <tr>
            <td>
                <%= like.song.artist %>
            </td>
            <td>
                <%= like.song.title %>
            </td>
            <td>
                <%= like.count %>
            </td>
        </tr>
    <% end %>
</table>