<h2>
Other who added <%= @song.title %> by <%= @song.artist %>...
</h2>

<hr>

<table>
    <th>
        <tr>
            <td>
                Name
            </td>
            <td>
                Times added
            </td>
        </tr>
    </th>
    <% song.%>
    <tr>
    </tr>
</table>
